# DeskBot
DESKBOT_PASSWORD=

# IA
GEMINI_API_KEY=
GEMINI_API_KEY_2=
GROQ_API_KEY=
GROQ_API_KEY_QUESTIONS=

# Trajets
ORS_API_KEY=

# Pronote
PRONOTE_URL=
PRONOTE_IDENTIFIANT=
PRONOTE_MOT_DE_PASSE=

# Google
GOOGLE_TOKEN_AGENDA=
GOOGLE_TOKEN_MAIL=
